$padding: 20px;

.item {
  break-inside: avoid;
  margin: 20px 10px;
  padding: $padding;
  box-shadow: 4px 4px 8px -5px rgba(34, 60, 80, 0.2);
  background-color: white;
  position: relative;

  .item-image {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .item-details {
    .item-price {
      color: green;
      font-weight: bold;
      font-size: 25px;
    }

    .item-quantity {
      position: absolute;
      bottom: 50px;
      right: $padding;
      display: inline-block;
      color: white;
      padding: 3px 5px;
    }

    .level-low {
      background-color: rgb(145, 3, 3);
    }

    .level-medium {
      background-color: yellowgreen;
    }

    .level-high {
      background-color: green;
    }
  }
}

.item:first-child {
  margin-top: 0;
}
